@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.loading {
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
}

.weather-widget{
  margin-top: 200px;
  width: 648px;
  border: 1px solid rgba(150, 150, 150, 0.3);
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
}

.weather-details {
  padding: 50px 20px 10px 20px;
}

.weather-title {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
}

.weather-location {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
}

.weather-c-f {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  text-align: right;
  color: #888888;
  cursor: pointer;
}

.weather-c-f .selected {
  text-decoration: underline;
  color: #000;
}

.weather-day {
  flex: none;
  order: 0;
  flex-grow: 1;
  background: #FAFAFA;
  border-width: 1px 1px 0px 0px;
  border-style: solid;
  border-color: #E0E0E0;
  cursor: pointer;
}

.weather-day.selected {
  background: #FFFFFF;
  border-top: 1px solid #222222;
  border-bottom-left-radius: 8px;
}

.weather-day:last-of-type {
  border-bottom-right-radius: 8px;
}

.weather-conditions {
  font-size: 14px;
}

.weather-conditions .wind {
  margin-left: 9px;
}

.weekday {
  font-size: 14px;
  margin-top: 11px;
}
 
.weather-day .weekday {
  font-weight: 600;
}

.weather-day.selected .weekday {
  font-weight: 400;
}

.weather-day .icon {
  min-height: 100px;
}

.weather-day .mintemp {
  font-weight: 600;
}

.weather-day .maxtemp {
  margin-bottom: 10px;
}
.weather-hourly {
  margin-top: 15px;
}

.weather-hourly .details {
  width: 12.5%;
}

.weather-hourly .details:first-of-type .hour{
  color: #000;
}

.weather-hourly .details .hour{
  font-size: 14px;
  font-weight: 600;
  color: #888888;
}

.weather-hourly .details img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}


.weather-hourly .details img {
  width: 53px;
}

.weather-hourly .details:first-of-type img {
  width: 64px;
}

.weather-hourly .details:first-of-type .temperature {
  font-size: 44px;
}


@media (prefers-color-scheme: dark) {
  body {
    background-color: #222222;
    color: #fff;
  }


  .weather-widget{
    background-color: #282828;
    border: 1px solid rgba(51, 51, 51, 0.3);
  }

  .weather-day {
    background-color: #282828;
    border-color: #333333;
  }

  .weather-day.selected {
    background-color: #333333;
  }

  .weather-hourly .details:first-of-type .hour,
  .weather-c-f .selected {
    color: #fff;
  }

  .weather-conditions {
    color: #ccc;
  }

}